<!-- profile.component.html -->
<div class="profile-container">
  <!-- Display profile picture -->
  <!-- <img alt="Profile Picture" class="profile-pic"> -->

  <div class="profile-detail">
    <span class="label">Email:</span>
    <span class="value">{{ user.email }}</span>
  </div>

  <div class="profile-detail">
    <span class="label">Name:</span>
    <span class="value">{{ user.name }}</span>
  </div>

  <div class="profile-detail">
    <span class="label">Last Name:</span>
    <span class="value">{{ user.last_name }}</span>
  </div>

  <div class="profile-detail">
    <span class="label">Address:</span>
    <span class="value">{{ user.address }}</span>
  </div>

  <div class="button-container">
    <button class="edit-button" (click)="editProfile()">Edit Profile</button>
    <button class="delete-button" (click)="deleteProfile()">Delete Profile</button>
  </div>
</div>
