<div class="wrapper">
  <div class="container profile-container">
    <div class="profile-header">
      <img src="/assets/pfp.jpg" alt="Profile Picture" class="profile-pic" />
      <h1 class="text-primary">
        {{ profile.name }} <span> {{ profile.last_name }}</span>
      </h1>
    </div>
    <div class="profile-info">
      <p><strong>Name:</strong> {{ profile.name }}</p>
      <p><strong>Last Name:</strong> {{ profile.last_name }}</p>
      <p><strong>Address:</strong> {{ profile.address }}</p>
      <p><strong>Email:</strong> {{ profile.email }}</p>
      <p><strong>Username:</strong> {{ profile.username }}</p>
      <p><strong>Role:</strong> {{ user.role }}</p>
    </div>
    <div class="profile-actions">
      <button class="btn btn-danger" (click)="deleteProfile()">
        Delete Account
      </button>
      <button class="btn btn-warning">
        <a class="btn-edit"
          [routerLink]="'/update-profile'"
          [queryParams]="{ email: profile.email }"
          >Edit</a
        >
      </button>
      <button
        *ngIf="isHost()"
        class="btn btn-primary"
        (click)="toggleAccommodations()"
      >
        Show Accommodations
      </button>
      <button
        *ngIf="!isHost()"
        class="btn btn-primary"
        (click)="toggleReservations()"
      >
        Show Reservations
      </button>
    </div>
  </div>

  <div *ngIf="showAccommodations" class="cards-wrapper">
    <div
      *ngFor="let accommodation of accomms"
      class="card"
      style="width: 18rem"
    >
      <img
        class="card-img-top"
        src="/assets/accommex.png"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">{{ accommodation.name }}</h5>
        <p class="card-text">{{ accommodation.location }}</p>
        <a href="#" class="btn btn-primary">Edit</a>
        <a
          [routerLink]="'/create-period'"
          [queryParams]="{ id: accommodation.id }"
          class="btn btn-primary"
          >Add Period</a
        >

        <a
        [routerLink]="'/add-pictures-accomm'"
        [queryParams]="{ id: accommodation.id }"
        class="btn btn-primary"
        >Add Pictures</a
      >
        <a class="btn btn-danger" (click)='deleteAccomm(accommodation.id)'>Delete</a>
      </div>
    </div>
  </div>

  <div *ngIf="showReservations" class="cards-wrapper">
    <div
      *ngFor="let reservation of activeReservations"
      class="card"
      style="width: 18rem"
    >
      <div class="card-body">
        <h5 class="card-title">
          <span>Start: </span>{{ reservation.StartDate }}
        </h5>
        <p class="card-text"><span>End: </span> {{ reservation.EndDate }}</p>
        <a class="btn btn-primary">Delete</a>
      </div>
    </div>
  </div>
  <div class="notifications">
    <div  class="notification-list">
      <div *ngFor="let notification of notifications" class="notification">
        <div class="alert alert-primary" role="alert">
          <b>{{ notification.Text }}</b><br> <span> Sent on: </span>{{notification.time}}
        </div>
      </div>
    </div>
  </div>
  <div class="overlay" *ngIf="showOverlay" (click)="toggleOverlay()">
  <div class="history-wrap" *ngFor="let reservation of reservationHistory">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{reservation.StartDate}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <div class="rating" (mouseleave)="reset()">
          <p>Rate accommodation:</p>
          <span class="star" *ngFor="let star of stars" (mouseenter)="fill(star)" (click)="rate(star, reservation)">
            <i class="fa" [ngClass]="star <= currentRating ? 'fa-star' : 'fa-star-o'"></i>
          </span>
        </div>
        <p>Rate host:</p>
        <div class="rating" (mouseleave)="reset()">
          <span class="star" *ngFor="let star of stars" (mouseenter)="fill(star)" (click)="rateHost(star, reservation)">
            <i class="fa" [ngClass]="star <= currentRating ? 'fa-star' : 'fa-star-o'"></i>
          </span>
        </div>
      </div>
    </div>

  </div>
  </div>
  <button (click)="toggleOverlay()">Show Overlay</button>

