mat-sidenav {
  width: 200px;
  background-color: rgb(197, 197, 241);
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
}

mat-list-item a {
  text-decoration: none;
}
.mat-drawer {
  width: 200px; /* Prilagodite širinu menija prema potrebi */
  background-color: #f5f5f5; /* Boja pozadine menija */
  border-right: 1px solid #ccc; /* Dodajte ivicu sa desne strane menija */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Dodajte senku menija */
  z-index: 2; /* Postavite z-index tako da meni bude iznad ostatka sadržaja */
}

.mat-drawer-inner-container {
  padding: 16px; /* Dodajte razmak oko elemenata u meniju */
}

.mat-mdc-list-item {
  padding: 8px 0; /* Dodajte razmak između stavki menija */
}

/* Dodatne stilizacije prema potrebi */
