<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button (click)="opened = !opened">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button routerLink=""><mat-icon>home</mat-icon>Home</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <mat-form-field class="search-bar">
    <input matInput placeholder="Location" [(ngModel)]="searchTerm" />
    <div class="guest-inputs">
      <input
        matInput
        type="number"
        placeholder="Min Guests"
        [(ngModel)]="minGuests"
      />
      <span class="separator">-</span>
      <input
        matInput
        type="number"
        placeholder="Max Guests"
        [(ngModel)]="maxGuests"
      />
    </div>
    <button mat-button matSuffix (click)="onSearchButtonClicked()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <div *ngIf="searchSuccess; else noResults">
    <mat-card
      *ngFor="let accommodation of filteredAccommodations"
      [ngClass]="{ 'found-accommodation': true }"
    >
      <!-- ... (ostatak koda ostaje isti) -->
    </mat-card>
  </div>

  <div *ngIf="searchSuccess; else noResults">
    <mat-card *ngFor="let accommodation of filteredAccommodations">
      <div class="top-part">
        <mat-card-header>
          <div mat-card-avatar class="accommodation-image"></div>
          <mat-card-title>{{ accommodation.name }}</mat-card-title>
        </mat-card-header>
      </div>
      <mat-card-content>
        <p><strong>Owner Email:</strong> {{ accommodation.owner.email }}</p>
        <p><strong>Location:</strong> {{ accommodation.location }}</p>
        <p><strong>Min Guests:</strong> {{ accommodation.minGuestNum }}</p>
        <p><strong>Max Guests:</strong> {{ accommodation.maxGuestNum }}</p>
        <p>
          <strong>Amenities:</strong> {{ accommodation.amenities.join(", ") }}
        </p>
      </mat-card-content>
      <mat-card-actions> </mat-card-actions>
    </mat-card>
  </div>
  <ng-template #noResults>
    <p>No results found.</p>
  </ng-template>
</div>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
    <mat-list>
      <mat-list-item><a routerLink="">Home</a></mat-list-item>
      <mat-list-item><a routerLink="/register">Register</a></mat-list-item>
      <mat-list-item><a routerLink="/login">Login</a></mat-list-item>
      <mat-list-item><a routerLink="/profile">Profile</a></mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div>{{ searchTerm }}</div>
    <p *ngIf="enterPressed">Enter Pressed</p>
    <p *ngIf="searchButtonPressed">Search Button Pressed</p>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
