<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login & Registration Form</title>
    <link rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <input type="checkbox" id="check" />
      <div class="login form">
        <header>Login</header>
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
        <form (submit)="loginUser()">
          <input
            type="text"
            placeholder="Enter your email"
            [(ngModel)]="user.email"
            name="email"
          />
          <input
            type="password"
            placeholder="Enter your password"
            [(ngModel)]="user.password"
            name="password"
          />
          <div class="container-fluid py-3">
            <h1>Are you a robot?</h1>

            <form #form="ngForm">
              <div class="row mt-3">
                <div class="col-sm-12 mb-2">
                  <re-captcha id="recaptcha" name="recaptcha" #recaptcha="ngModel" [(ngModel)]="token" required [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"></re-captcha>
                  <div *ngIf="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)" class="invalid-feedback">
                    <div *ngIf="recaptcha.errors?.['required']">This field is required.</div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <a href="#">Forgot password?</a>
          <input type="submit" class="button" value="Login" />
        </form>
        <div class="signup">
          <span class="signup">Don't have an account? </span>
        </div>
      </div>
    </div>
  </body>
</html>
