/* create-accommodation.component.css */
.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.create-accommodation-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  animation: fadeIn 0.5s ease-in-out;
}

h2 {
  color: #007bff; /* Blue color for heading */
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

.amenities-checkboxes {
  display: flex;
  flex-wrap: wrap;
}

.amenity-checkbox {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.show-on-success{
  display: none;
}
