<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Form</title>
    <!-- Dodajemo Angular stilove za forme -->
    <link rel="stylesheet" />
    />
  </head>
  <body>
    <div class="wrapper">
      <h2>Registration</h2>
      <!-- Dodajemo Angular formu i servis -->
      <form (ngSubmit)="registerUser()" #registrationForm="ngForm">
        <div class="input-box button">
          <input
            type="Submit"
            value="Register Now"
            [disabled]="!registrationForm.valid"
          />
        </div>
        <div class="input-box">
          <!-- Dodajemo Angular form elemente sa ngModel -->
          <input
            type="text"
            placeholder="Enter your name"
            required
            [(ngModel)]="user.name"
            name="name"
          />
        </div>
        <div class="input-box">
          <input
            type="text"
            placeholder="Enter your last name"
            required
            [(ngModel)]="user.lastName"
            name="lastName"
          />
        </div>
        <div class="input-box">
          <input
            type="text"
            placeholder="Enter email"
            required
            [(ngModel)]="user.email"
            name="email"
          />
        </div>
        <div class="input-box">
          <input
            type="password"
            placeholder="Enter password"
            required
            [(ngModel)]="user.password"
            name="password"
          />
        </div>
        <div class="input-box">
          <input
            type="text"
            placeholder="Enter place of living"
            required
            [(ngModel)]="user.placeOfLiving"
            name="placeOfLiving"
          />
        </div>

        <div class="container-fluid py-3">
            <h1>Are you a robot?</h1>
        
          <form #form="ngForm">
            <div class="row mt-3">
              <div class="col-sm-12 mb-2">
                <re-captcha id="recaptcha" name="recaptcha" #recaptcha="ngModel" [(ngModel)]="token" required [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"></re-captcha>
                <div *ngIf="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)" class="invalid-feedback">
                  <div *ngIf="recaptcha.errors?.['required']">This field is required.</div>
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-sm-12 mb-2">
                <button type="button" class="btn btn-sm btn-primary" (click)="send(form)">Send</button>       VEZANO ZA CAPTCHU, OSTAVITI ZA SVAKI SLUCAJ
              </div>
            </div> -->
          </form>
        </div>

        <div class="input-box button">
          <!-- Koristimo Angular direktivu za disabled ako forma nije validna -->
          <input
            type="Submit"
            value="Register Now"
            [disabled]="!registrationForm.valid"
          />
        </div>
      </form>
    </div>
  </body>
</html>
