<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Form</title>
    <!-- Dodajemo Angular stilove za forme -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@angular/material/prebuilt-themes/indigo-pink.css"
    />
  </head>
  <body>
    <div class="wrapper">
      <h2>Registration</h2>
      <!-- Dodajemo Angular formu i servis -->
      <form (ngSubmit)="registerUser()" #registrationForm="ngForm">
        <div class="input-box">
          <!-- Dodajemo Angular form elemente sa ngModel -->
          <input
            type="text"
            placeholder="Enter your name"
            required
            [(ngModel)]="user.name"
            name="name"
          />
        </div>
        <div class="input-box">
          <input
            type="text"
            placeholder="Enter your last name"
            required
            [(ngModel)]="user.lastName"
            name="lastName"
          />
        </div>
        <div class="input-box">
          <input
            type="text"
            placeholder="Enter email"
            required
            [(ngModel)]="user.email"
            name="email"
          />
        </div>
        <div class="input-box">
          <input
            type="password"
            placeholder="Enter password"
            required
            [(ngModel)]="user.password"
            name="password"
          />
        </div>
        <div class="input-box">
          <input
            type="text"
            placeholder="Enter place of living"
            required
            [(ngModel)]="user.placeOfLiving"
            name="placeOfLiving"
          />
        </div>

        <div class="input-box button">
          <!-- Koristimo Angular direktivu za disabled ako forma nije validna -->
          <input
            type="Submit"
            value="Register Now"
            [disabled]="!registrationForm.valid"
          />
        </div>
      </form>
    </div>

    <!-- Dodajemo Angular skripte -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular-material.min.js"></script>

    <!-- Dodajemo polifilove za Angular forme -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>
  </body>
</html>
